body {
    background-color: #FFF7F0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
}

.grid-item1 {
    margin-right: 660px;
}

.img1 {
    margin-top: 20px;
}

.button1 {
    background-color: #030303;
    border: none;
    color: #FFF7F0;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-radius: 30px;
    margin-top: 25px;
    font-size: 18px;
}



.grid-item3 {
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.grid-item4 {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #7A746E;
}


@media (max-width: 1142px) {
    .grid-item3 {
        font-size: 40px;
        line-height: 51px;
        text-align: center;
    }

    .grid-item1 {
        margin-right: 500px;
    }

    .grid-item4 {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #7A746E;
    }
}

@media (max-width: 810px) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
    }

    .grid-item1 {
        margin-right: 400px;
    }
}

@media (max-width: 705px) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
    }

    .grid-item1 {
        margin-right: 100px;
    }
}


@media (max-width: 400px) {
    .grid-container {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
    }

    .grid-item1 {
        margin-right: 50px;
    }
}

@media screen and (max-width:820px) {
    span.wrap {
        white-space: nowrap;
    }

}

@media screen and (max-width:480px) {
    span.wrap {
        white-space: nowrap;
    }

}